*,
::after,
::before {
    box-sizing: border-box;
}
/* Mid color options */
/* rgb(211, 222, 220)       grey*/  
/* rgb(146, 169, 189)       blue */

body { 
    color: rgb(5, 6, 7);
    background: linear-gradient(rgb(255, 255, 255), rgba(200, 220, 237) 50%, rgb(255, 255, 255));
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

