
[aria-controls="navbarDropdown"] {
    display: block;
}

[aria-expanded="false"] ~ ul {
    display: none;
}


[aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background: linear-gradient(to right, transparent, rgba(5, 6, 7, 0.9) 50%, rgba(5, 6, 7, 1));
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
    margin-top: 40px;
    padding-bottom: 20px;
}

/* [aria-expanded="true"] ~ ul li {
    margin-top: 50px;
} */

[aria-expanded="true"] ~ ul li a {
    margin-right: 20px;
    color: rgb(235, 234, 240);
    width: auto;
}


@media  screen and (min-width: 750px) {
    
    [aria-controls="navbarDropdown"] {
        display: none;
    }

    [aria-expanded="false"] ~ ul {
        display: flex;
    }

    .navbar .img-container {
        justify-content: flex-start;
    }

    .navbar .navbar-list li { width: 7rem;}

    .logo { display: none; }

    .company-name { display: block; }

    .navbar-toggler {
        top: 15px;
    }

    .navbar-toggler span {
        font-size: 20px;
    }

    h1 { margin-top: 5rem; }

    .img-container {
        max-width: 450px;
        padding: 20px;
    }

    .img-container:hover {
        padding: 15px;
    }

    .gallery {
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .gallery .gallery-img-container {
        margin: 0;
        display: flex;
        background-color: rgba(200, 220, 237, 0.25);
        border-radius: 10px;
        border: 1px solid transparent;
    }

    .gallery .gallery-img-container:hover {
        background-color: rgba(200, 220, 237, 0.15);
    }



}